@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gameoverbox-container {
    @apply w-5/6 h-min
        max-w-sm
        sm:w-96
        z-10 top-1/3 absolute 
        flex flex-col justify-center items-center
        border-2 border-solid border-sky-900 rounded 
        bg-white
        text-sky-900
        shadow-lg;
  }
  .gameoverbox-item {
    @apply w-full h-12 flex justify-center items-center;
  }

  .gameoverbox-button {
    @apply w-48
        m-1 p-1 pl-2 pr-2 mt-2 
        border border-solid rounded-md  border-sky-700
        text-sky-700
        font-semibold 
        bg-white 
        shadow-lg
      hover:scale-95 
        active:scale-90 active:shadow-sm
        cursor-pointer 
        transition-all duration-75;
  }

  .gameoverbox-header {
    @apply mb-2 mt-2 text-2xl text-sky-900;
  }

  .gameoverbox-response {
    @apply m-2 h-8;
  }

  .icon-badge-base {
    @apply w-14 h-8
    sm:w-20
    md:w-24
    flex justify-center items-center
    text-purple-500
    border border-purple-500 rounded-md
    bg-white
    select-none
    cursor-default;
  }
  .icon-checkbox-base {
    @apply w-14 h-12 
      sm:w-20
      md:w-24 
      flex justify-center items-center
      text-purple-500
      border border-purple-500 rounded-md
      bg-white
      select-none
      cursor-pointer;
  }

  .icon-checkbox-animation {
    @apply hover:scale-95
      active:scale-90 active:shadow-sm
      transition-all duration-150;
  }

  .tile-carousel-container {
    @apply w-full h-min 
    p-px
    flex justify-center items-center;
  }

  .tile-carousel-base {
    @apply w-2 h-2
      border-dashed border border-gray-300
      shadow-sm
      select-none;
  }

  .tile-container {
    @apply w-full h-min 
    p-px md:p-0.5 
    flex justify-center items-center
    cursor-pointer;
  }

  .tile-base {
    @apply w-4 h-4
    sm:w-6 sm:h-6
    md:w-7 md:h-7
    border-dashed border border-gray-300
    shadow-md
    cursor-pointer
    transition-all duration-100
    select-none;
  }

  .tile-clickable {
    @apply hover:border-slate-500 
    sm:hover:border-2 sm:hover:rounded-md sm:hover:shadow-lg 
    active:rounded-lg
    sm:active:scale-90 sm:active:shadow-sm
    cursor-pointer;
  }

  .tile-icon-container {
    @apply w-full h-full 
    flex justify-center items-center;
  }

  .carousel-container {
    @apply w-5/6 h-max
    min-w-max
    z-10 top-1/3 absolute 
    flex flex-col justify-center items-center
    border-2 border-solid border-sky-900  
    border-l-0 border-r-0
    bg-white
    text-sky-900
    shadow-lg
    select-none;
  }

  .carousel-card {
    @apply max-w-sm p-2  
      flex flex-row justify-center items-center;
  }

  .carousel-image {
    @apply hover:scale-95
    cursor-pointer
    select-none
    transition-all duration-100;
  }

  .carousel-header {
    @apply mt-1
    text-3xl font-extrabold
    underline underline-offset-auto decoration-blue-300;
  }

  .carousel-button {
    @apply w-max h-48
    m-4
    flex flex-row justify-center items-center grow justify-self-stretch
    hover:scale-125
    active:scale-95
    transition-all duration-100
    cursor-pointer;
  }
}
